
/*manga and manhwa section*/
.manhwa
{
    display: grid;
   grid-template-columns: 49% 49%;
}
/*bdpa picture and summary*/
.BDPA
{
    text-align: center;
    display: grid;
    grid-template-rows: 49% 49%;

}

/* about me paragraph and summary*/
#aboutMe
{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 27px;

}
/*graphic templates*/
.graphicDesignFlyers
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.containers
{
    display: grid;
    grid-template-columns: 50% 50%;
}
/*mycodingadventures videos*/
.test
{
    display: grid;
    grid-template-columns: 16.68% 16.68% 16.68% 16.68% 16.68% 16.68% ;

}
.myEdit
{
    border: thick solid indianred;
    margin: 10px;
    padding: 10px;
}

/*titles for all the same oages*/
#title
{
    text-align: center;
    font-size: 100px;
    color: indianred;
    border:3px solid darkslateblue;
    padding:3%;
    grid-column: 1/13;
    grid-row: 1;
}
/*all my titles with h2 tags*/
h2
{
    text-align: center;
    color: indianred;
    font-weight: bold;
    /*font-family: Chilanka;*/
    font-size: 50px;

}

#pageTitle
{
    text-align: center;
    font-style: italic;
    font-size: 80px;
    color: darkslateblue;
}
/*center my resume*/

#resume
{
    text-align: center;
}
.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#youtubeLogo
{
    text-align: center;
}

#tabs
{
    text-align: center;
    background:darkslateblue;
    color: indianred;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* navbar */
.navbar-custom {
    background-color:#4682B4;
    color:#4682B4;
    border-radius:0;
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#leaderMelaati
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50%

}


/*img*/
/*{*/
    /*opacity: 0.5;*/
    /*filter: alpha(opacity=50);*/
/*}*/

#logos
{
    text-align: center;
}

#youtubeVideos
{
    text-align: center;
}

/*#nav0*/
/*{*/
    /*grid-column: 3;*/
    /*grid-row: 2;*/
/*}*/

/*#writtenVlogs*/
/*{*/
    /*border: 3px solid black;*/
    /*text-align: center;*/
/*}*/
